html,
body {
  margin: 0;
  padding: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

body {
  background-color: white;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 8fr 1fr;
  justify-content: center;
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

header h1 {
  font-weight: 300;
  margin: 0;
}

.container {
  min-width: 90vh;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.935);
}

footer {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

form p {
  display: grid;
}

.btn,
.delete {
  background-color: rgba(69, 7, 255, 0.822);
  font-size: medium;
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  color: white;
  font-weight: bold;
}

.btn:hover,
.delete:hover {
  background-color: rgba(69, 7, 255, 0.688);
  cursor: pointer;
}

#book-form {
  margin: 0;
  padding: 1rem 3rem;
}

#book-form input {
  margin-top: 4px;
}

table {
  margin-top: 2.5rem;
  padding: 1rem 0;
  min-width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 13px 25px;
  border-bottom: 2px solid #cbd5e1;
}

tr:nth-child(even) {
  background-color: #f1f5f9;
}

a:link {
  color: rgba(69, 7, 255, 0.822);
  text-decoration: none;
}
